# Xcode
build/*
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata
xcshareddata
*.xcworkspace/xcshareddata
profile
*.moved-aside
*.xcuserdatad


*.xcodeproj/xcuserdata/*
*.xcworkspace/xcuserdata/*
*.xcworkspace/xcshareddata/*

## Playgrounds
timeline.xctimeline
playground.xcworkspace


xcuserdata/

Pods/*.xcodeproj/xcuserdata/
Pods/*.xcodeproj/project.xcworkspace/xcuserdata/

#Mac OS
.DS_Store
Icon